<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thème B - Référentiel d'activités et de compétences</title>
    </head>
    <body>
        <div style="background-color: black; color: white; border-radius: 5px; width: 25px; text-align: center; font-size: 20px; float: left;">B</div><h2 style="color: rgb(23, 7, 255); padding-left: 30px;"> Référentiel d'activités et de compétences</h2>
        <div style="position:static;background-color: black; color: white; border-radius: 5px; width: 35px; text-align: center; font-size: 20px; float: left;">B.1</div><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Les compétences</h2>
        <table style="border:1px solid #333;">
            <tr style="border:1px solid #333">
                <th colspan="2" style="border:1px solid #333; background-color: rgb(255, 169, 71);">Compétence 1 : Réaliser un développement d’application</th>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 50%; background-color: rgb(255, 174, 0);">
                    <p style="text-align: center;"><i>Développer — c’est-à-dire concevoir, coder, tester et intégrer — une solution informatique pour un client.</i></p>
                    <p style="text-align: center;">– en expliquant et communiquant l’avancée au client et aux utilisateurs</p>
                    <p style="text-align: center;">– en précisant et en respectant les besoins décrits par le client</p>
                    <p style="text-align: center;">– en appliquant les principes algorithmiques</p> 
                    <p style="text-align: center;">– en veillant à la qualité du code et à sa documentation</p>
                    <p style="text-align: center;">– en respectant la législation, les normes professionnelles et les enjeux sociétaux</p>
                    <p style="text-align: center;">– en choisissant les ressources techniques appropriées</p>
                </td>
                <td style="border:1px solid #333; width: 50%;background-color: rgb(255, 185, 71);">
                    <h3 style="text-align: center;"><b>Situations professionnelles</b></h3>
                    <p style="text-align: center;">– Élaborer une application informatique</p>
                    <p style="text-align: center;">– Faire évoluer une application informatique</p>
                    <p style="text-align: center;">– Maintenir en conditions opérationnelles une application informatique</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 185, 71);">
                    <p style="text-align: center;"><b>Développer des applications informatiques simples</b> tous</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 185, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Implémenter des conceptions simples</p>
                    <p style="text-align: center;"><b>AC 2</b> Élaborer des conceptions simples</p>
                    <p style="text-align: center;"><b>AC 3</b> Faire des essais et évaluer leurs résultats en regard des spécifications</p>
                    <p style="text-align: center;"><b>AC 4</b> Développer des interfaces utilisateurs</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 175, 71);">
                    <p style="text-align: center;"><b>Partir des exigences et aller jusqu’à une application complète</b> tous</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 175, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Élaborer et implémenter les spécifications fonctionnelles et non fonctionnelles à partir des exigences</p>
                    <p style="text-align: center;"><b>AC 2</b> Appliquer des principes d’accessibilité et d’ergonomie</p>
                    <p style="text-align: center;"><b>AC 3</b> Adopter de bonnes pratiques de conception et de programmation</p>
                    <p style="text-align: center;"><b>AC 4</b> Utiliser des patrons de conception pour le développement d’applications cohérentes</p>
                    <p style="text-align: center;"><b>AC 5</b> Adapter les solutions existantes au contexte applicatif</p>
                    <p style="text-align: center;"><b>AC 6</b> Vérifier et valider la qualité de l’application par les tests</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 169, 71);">
                    <p style="text-align: center;"><b>Se spécialiser sur un ensemble de supports (embarqué, web, mobile, IOT...) avec un suivi qualitatif</b> A, B et C</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 169, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Choisir et implémenter les architectures adaptées</p>
                    <p style="text-align: center;"><b>AC 2</b> Développer des applications sur des supports spécifiques</p>
                    <p style="text-align: center;"><b>AC 3</b> Faire des essais et évaluer leurs résultats en regard des spécifications</p>
                    <p style="text-align: center;"><b>AC 4</b> Intégrer des solutions dans un environnement de production</p>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <table style="border:1px solid #333;">
            <tr style="border:1px solid #333">
                <th colspan="2" style="border:1px solid #333; background-color: rgb(255, 169, 71);">Compétence 2 : Optimiser des applications informatiques</th>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 50%; background-color: rgb(255, 174, 0);">
                    <p style="text-align: center;"><i>Proposer des applications informatiques optimisées en fonction de critères spécifiques : temps d’exécution, précision, consommation de ressources..</i></p>
                    <p style="text-align: center;">– en formalisant et modélisant des situations complexes</p>
                    <p style="text-align: center;">– en recensant les algorithmes et les structures de données usuels</p>
                    <p style="text-align: center;">– en s’appuyant sur des schémas de raisonnement</p> 
                    <p style="text-align: center;">– en justifiant les choix et validant les résultats</p>
                </td>
                <td style="border:1px solid #333; width: 50%;background-color: rgb(255, 185, 71);">
                    <h3 style="text-align: center;"><b>Situations professionnelles</b></h3>
                    <p style="text-align: center;">– Améliorer les performances des programmes dans des contextes contraints</p>
                    <p style="text-align: center;">– Limiter l’impact environnemental d’une application informatique</p>
                    <p style="text-align: center;">– Mettre en place des applications informatiques adaptées et innovantes</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 185, 71);">
                    <p style="text-align: center;"><b>Appréhender et construire des algorithmes </b> tous</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 185, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Analyser un problème avec méthode (découpage en éléments algorithmiques simples, structure de données...)</p>
                    <p style="text-align: center;"><b>AC 2</b> Comparer des algorithmes pour des problèmes classiques (tris simples, recherche...)</p>
                    <p style="text-align: center;"><b>AC 3</b>  Expérimenter la notion de compilation et les représentations bas niveau des données</p>
                    <p style="text-align: center;"><b>AC 4</b> Formaliser et mettre en œuvre des outils mathématiques pour l’informatique</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 175, 71);">
                    <p style="text-align: center;"><b>Sélectionner les algorithmes adéquats pour répondre à un problème donné</b> tous</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 175, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Choisir des structures de données complexes adaptées au problème</p>
                    <p style="text-align: center;"><b>AC 2</b> Utiliser des techniques algorithmiques adaptées pour des problèmes complexes (par ex. recherche opérationnelle, méthodes arborescentes, optimisation globale, intelligence artificielle...)</p>
                    <p style="text-align: center;"><b>AC 3</b> Appréhender la différence entre les paradigmes de programmation</p>
                    <p style="text-align: center;"><b>AC 4</b> Comprendre les enjeux et moyens de sécurisation des données et du code</p>
                    <p style="text-align: center;"><b>AC 5</b> Évaluer l’impact environnemental et sociétal des solutions proposées</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 169, 71);">
                    <p style="text-align: center;"><b>Analyser et optimiser des applications</b> A</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 169, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Anticiper les résultats de diverses métriques (temps d’exécution, occupation mémoire...)</p>
                    <p style="text-align: center;"><b>AC 2</b> Profiler et analyser le comportement d’un code existant</p>
                    <p style="text-align: center;"><b>AC 3</b> Appliquer des méthodes de calcul scientifique (imagerie, immersion, intelligence artificielle, jeux vidéos, parallélisme, calcul formel...)</p>
                    <p style="text-align: center;"><b>AC 4</b> dentifier les solutions techniques pour gérer la montée en charge des applications</p>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <table style="border:1px solid #333;">
            <tr style="border:1px solid #333">
                <th colspan="2" style="border:1px solid #333; background-color: rgb(255, 169, 71);">Compétence 3 : Administrer des systèmes informatiques communicants complexes</th>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 50%; background-color: rgb(255, 174, 0);">
                    <p style="text-align: center;"><i>Installer, configurer, mettre à disposition, maintenir en conditions opérationnelles des infrastructures, des services et des réseaux et optimiser le système informatique d’une organisation.</i></p>
                    <p style="text-align: center;">– en maîtrisant l’architecture des systèmes et des réseaux</p>
                    <p style="text-align: center;">– en sécurisant le système d’information</p>
                    <p style="text-align: center;">– en appliquant les obligations légales, les normes en vigueur et les bonnes pratiques</p> 
                    <p style="text-align: center;">– en mettant en œuvre les mesures correctives adaptées à la nature des incidents identifiés</p>
                    <p style="text-align: center;">– en respectant les contraintes de performances, de coûts et d’efficacité énergétique</p>
                    <p style="text-align: center;">– en assurant la pérennité des données et des logiciels</p>
                </td>
                <td style="border:1px solid #333; width: 50%;background-color: rgb(255, 185, 71);">
                    <h3 style="text-align: center;"><b>Situations professionnelles</b></h3>
                    <p style="text-align: center;">– Déployer une nouvelle architecture technique</p>
                    <p style="text-align: center;">– Améliorer une infrastructure existante</p>
                    <p style="text-align: center;">– Sécuriser les applications et les services</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 185, 71);">
                    <p style="text-align: center;"><b>Installer et configurer un poste de travail</b> tous</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 185, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Identifier les différents composants (matériels et logiciels) d’un système numérique</p>
                    <p style="text-align: center;"><b>AC 2</b> Utiliser les fonctionnalités de base d’un système multitâches / multiutilisateurs</p>
                    <p style="text-align: center;"><b>AC 3</b> Installer et configurer un système d’exploitation et des outils de développement</p>
                    <p style="text-align: center;"><b>AC 4</b> Configurer un poste de travail dans un réseau d’entreprise</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 175, 71);">
                    <p style="text-align: center;"><b>Déployer des services dans une architecture réseau</b> tous</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 175, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Concevoir et développer des applications communicantes</p>
                    <p style="text-align: center;"><b>AC 2</b> Utiliser des serveurs et des services réseaux virtualisés</p>
                    <p style="text-align: center;"><b>AC 3</b> Sécuriser les services et données d’un système</p>
                    <p style="text-align: center;"><b>AC 4</b> Rédiger une documentation technique (en français et en anglais)</p>
                </td>
            </tr>
            <tr style="border:1px solid #333">
                <td style="border:1px solid #333; width: 25%; background-color: rgb(255, 169, 71);">
                    <p style="text-align: center;"><b>Faire évoluer et maintenir un système informatique communicant en conditions opérationnelles</b> A</p>
                </td>
                <td style="border:1px solid #333; width: 75%;background-color: rgb(255, 169, 71);">
                    <p style="text-align: center;"><b>AC 1</b> Créer des processus de traitement automatisé (solution de gestion de configuration et de parc, intégration et déploiement continu...)</p>
                    <p style="text-align: center;"><b>AC 2</b> Configurer un serveur et des services réseaux de manière avancée (virtualisation...)</p>
                    <p style="text-align: center;"><b>AC 3</b> Appliquer une politique de sécurité au niveau de l’infrastructure</p>
                    <p style="text-align: center;"><b>AC 4</b> Déployer et maintenir un réseau d’organisation en fonction de ses besoins</p>
                </td>
            </tr>
        </table>

        
 
 
 
 
 






                
 
 
    </body>
</html>