<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thème C - Référentiel de formation</title>
    </head>
    <body>
        
        <p>Il est certifié par 4 à 6 blocs de compétences, aussi dénommés « compétences finales » dans l’approche par compétences
            et entendues comme des « savoirs agir complexes » mis en œuvre dans un contexte professionnel et qui mobilisent et
            combinent des ressources acquises au cours du cursus. Chaque bloc de compétences est décliné par niveau tout au long
            du parcours.</p>
        <ol>Taille des groupes</ol>
        <p>Les groupes sont de 26 personnes en Travaux Dirigés (TD) et 13 en Travaux Pratiques (TP).
            Le référentiel de formation identifie les TP présentant un risque pour la sécurité des personnes et nécessitant un encadre-
            ment particulier.</p>
        <ol>Évaluation interne des formations</ol>
        <p>Chaque département de l’IUT met en place un conseil de perfectionnement conformément aux statuts de son établissement.
            Dans une logique d’amélioration continue, le conseil de perfectionnement examine une fois par an les indicateurs du bachelor
            universitaire de technologie de la spécialité, notamment les résultats des évaluations des formations et des enseignements
            par les personnes qui les ont suivis, les suivis de cohortes, la qualité des stages et le suivi de l’insertion professionnelle.
            Le Conseil de l’IUT est ensuite informé de l’ensemble des évaluations internes des départements.</p>
        












    </body>
</html>