
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thème D - Dispositions particulières</title>
    </head>
    <body>
        <ol>Référentiel d’activités et de compétences</ol>
        <ol>Les compétences</ol>
        <table>
            <thead><tr><th colspan="2">Compétence 1 : Réaliser un développement d’application</th></tr></thead>
            <tbody>
                <tr>
                    <td>Développer — c’est-à-dire concevoir, coder, tester et intégrer — une solution informatique pour un client.
                        – en expliquant et communiquant l’avancée au client et aux
                        utilisateurs
                        – en précisant et en respectant les besoins décrits par le
                        client
                        – en appliquant les principes algorithmiques
                        – en veillant à la qualité du code et à sa documentation
                        – en respectant la législation, les normes professionnelles et
                        les enjeux sociétaux
                        – en choisissant les ressources techniques appropriées</td>
                    <td>Situations professionnelles
                        – Élaborer une application informatique
                        – Faire évoluer une application informatique
                        – Maintenir en conditions opérationnelles une
                        application informatique</td>
                </tr>
                <tr>
                    <td>Développer des applications
                        informatiques simples
                        tous</td>
                    <td>AC 1 Implémenter des conceptions simples
                        AC 2 Élaborer des conceptions simples
                        AC 3 Faire des essais et évaluer leurs résultats en regard des spécifications
                        AC 4 Développer des interfaces utilisateurs</td>
                </tr>
                <tr>
                    <td>Partir des exigences et aller
                        jusqu’à une application
                        complète
                        tous</td>
                    <td>AC 1 Élaborer et implémenter les spécifications fonctionnelles et non
                        fonctionnelles à partir des exigences
                        AC 2 Appliquer des principes d’accessibilité et d’ergonomie
                        AC 3 Adopter de bonnes pratiques de conception et de programmation
                        AC 4 Utiliser des patrons de conception pour le développement
                        d’applications cohérentes
                        AC 5 Adapter les solutions existantes au contexte applicatif
                        AC 6 Vérifier et valider la qualité de l’application par les tests</td>
                </tr>
                <tr>
                    <td>Se spécialiser sur un ensemble
                        de supports (embarqué, web,
                        mobile, IOT...) avec un suivi
                        qualitatif
                        A, B et D</td>
                    <td>AC 1 Choisir et implémenter les architectures adaptées
                        AC 2 Développer des applications sur des supports spécifiques
                        AC 3 Réaliser un audit d’une application
                        AC 4 Intégrer des solutions dans un environnement de production</td>
                </tr>
            </tbody>
        </table>
           
            
    </body>
</html>