<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1 style="text-align: center;">Voici toutes vos pages rangées en fonction de vos thèmes</h1>

    <ol>
        <li style="display: inline-block; padding-left: 20px;"><a href="pages/1.html" style="text-decoration: none;">Thème A - Présentation générale</a></li>
        <li style="display: inline-block; padding-left: 20px;"><a href="pages/2.html" style="text-decoration: none;">Thème B - Référentiel d'activités et de compétences</a></li>
        <li style="display: inline-block; padding-left: 20px;"><a href="pages/3.html" style="text-decoration: none;">Thème C - Référentiel de formation</a></li>
        <li style="display: inline-block; padding-left: 20px;"><a href="pages/4.html" style="text-decoration: none;">Thème D - Dispositions particulières</a></li>
        <li style="display: inline-block; padding-left: 20px;"><a href="pages/5.html" style="text-decoration: none;">Thème E - Référentiel d'évaluation</a></li>
    </ol>

    </body>
</html>