<!DOCTYPE html>
<html>
    <head>
        <title>Page - Dropdown</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    </head>    
    <body>
        <nav class="menu-horizontal">
            <ul>
                <li><a href="../../../index.html"><i class="fa fa-home"></i> Accueil</a></li>
                <li><i class="fa fa-weibo"></i> Liens
                    <ul class="niveau2">
                        <li>
                            <a href="#">Internet</a>
                            <ul class="niveau3">
                                <li><a href="https://www.ecosia.org/?c=fr" target="blank">Google</a></li>
                                <li><a href="https://www.ecosia.org/?c=fr" target="blank">Ecosia</a></li>
                                <li><a href="https://www.bing.com/" target="blank">Bing</a></li>
                            </ul>
                        </li>
                        <li><a href="https://intranet.iut-valence.fr/" target="blank">Intranet</a></li>
                    </ul>
                </li>
                <li><a href="https://www.youtube.com/" target="blank"><i class="fa fa-youtube-play"></i> Youtube</a></li>
            </ul>
            <div id="indicator"></div>
        </nav>



        <a href="../../../index.html"><button id="return">Menu Principal</button></a>
    </body>

</html>



                    
                    