<!DOCTYPE html>
<html>
    <head>
        <title>Leo Website - Learn HTML</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Apprendre le html - Faire des titres</h1>
        <div class="topnav" id="myTopnav">
            <a href="../../../../index.html" class="active">Home <i class="fa fa-home"></i></a>
            <a href="#base">Base d'un site</a>
            <div class="dropdown">
                <button class="dropbtn">Balises importantes 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="p.html" title="Tp pdf">Paragraphe</a>
                  <a href="titre.html" title="Balise Titre">titre</a>
                  <a href="#meta" title="Balise Meta">meta</a>
                  <a href="nav.html" title="Balise Navigation">navigation</a>
                  <a href="#footer" title="Balise Footer">footer</a>
                  <a href="#article" title="Balise Article">article</a>
                  <a href="liste.html" title="Balise Liste">Liste</a>
                  <a href="form.html" title="Balise Formulaire">Formulaire</a>
                </div>
            </div>
        </div>
        <h2>Vous allez apprendre comment faire des listes en html</h2>
        <div class="row">
            <div class="info">
                <h3>Informations</h3>
                <p>Il existe 2 types de listes en html : les listes ordonnées (voir exemple ci-dessous) et les listes désordonnées ( voir exemple ci-dessous). Pour réaliser des listes, il ne faut pas oublier de mettre la balise "li" qui permet d'intégrer des éléments de listes</p>
            </div>
            <div class="area">
                <p>Exemple de liste ordonnée</p>
                <ol>
                    <li>texte1</li>
                    <li>texte2</li>
                    <li>texte3</li>
                </ol>
                <textarea>
                    <ol>
                        <li>texte1</li>
                        <li>texte2</li>
                        <li>texte3</li>
                    </ol>
                </textarea>
                <p>Exemple de liste désordonnée</p>
                <ul>
                    <li>texte1</li>
                    <li>texte2</li>
                    <li>texte3</li>
                </ul>
                <textarea>
                    <ul>
                        <li>texte1</li>
                        <li>texte2</li>
                        <li>texte3</li>
                    </ul>
                </textarea>
            </div>
        </div>
    </body>
</html>