<!DOCTYPE html>
<html>
    <head>
        <title>Leo Website - Learn HTML</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Apprendre le html - Faire des paragraphes</h1>
        
        <?php requiere('template/dropdown.php') ?php>

        <h2>Vous allez apprendre comment faire des paragraphes en html</h2>
        <div class="row">
            <div class="info">
                <h3>Informations</h3>
                <p>La balise d'un paragraphe est "p". Elle place une ligne vide au-dessus et en dessous du texte pour le mettre en évidence, et le navigateur la considerera comme telle. Le paragraphe est un élément de base en traitement de texte.</p>
            </div>
            <div class="area">
                <textarea name="paragraphe" id="paragraphe" ><p></p></textarea>
            </div>
        </div>
    </body>
</html>