<!DOCTYPE html>
<html>
    <head>
        <title>Leo Website - Learn HTML</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Apprendre le html - Faire des titres</h1>
        <div class="topnav" id="myTopnav">
            <a href="../../../../index.html" class="active">Home <i class="fa fa-home"></i></a>
            <a href="#base">Base d'un site</a>
            <div class="dropdown">
                <button class="dropbtn">Balises importantes 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="p.html" title="Tp pdf">Paragraphe</a>
                  <a href="titre.html" title="Balise Titre">titre</a>
                  <a href="#meta" title="Balise Meta">meta</a>
                  <a href="nav.html" title="Balise Navigation">navigation</a>
                  <a href="#footer" title="Balise Footer">footer</a>
                  <a href="#article" title="Balise Article">article</a>
                  <a href="liste.html" title="Balise Liste">Liste</a>
                  <a href="form.html" title="Balise Formulaire">Formulaire</a>
                </div>
            </div>
        </div>
        <h2>Vous allez apprendre comment faire des tires en html</h2>
        <div class="row">
            <div class="info">
                <h3>Informations</h3>
                <p>Les balises h1, h2, h3, etc. sont au nombre de 6 (de h1 à h6). Elles servent à ajouter des titres dans vos textes et à hiérarchiser vos contenus. Par simplicité et pour parler de l’ensemble de ces balises on remplace le chiffre derrière le H par un “n” c’est pour cela que vous pouvez entendre parler de balise Hn. Le numéro derrière le H détermine le niveau du titre. Une balise h3 sera donc le sous-titre d’une balise h2 qui elle-même sera le sous-titre d’une balise h1.</p>
            </div>
            <div class="area">
                <h1>Titre de forme 1</h1>
                <textarea name="paragraphe" id="paragraphe" ><h1></h1></textarea>
                <h2>Titre de forme 2</h2>
                <textarea name="paragraphe" id="paragraphe" ><h2></h2></textarea>
                <h3>Titre de forme 3</h3>
                <textarea name="paragraphe" id="paragraphe" ><h3></h3></textarea>
                <h4>Titre de forme 4</h4>
                <textarea name="paragraphe" id="paragraphe" ><h4></h4></textarea>
                <h5>Titre de forme 5</h5>
                <textarea name="paragraphe" id="paragraphe" ><h5></h5></textarea>
                <h6>Titre de forme 6</h6>
                <textarea name="paragraphe" id="paragraphe" ><h6></h6></textarea>
            </div>
        </div>
    </body>
</html>