<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
        <title></title>
    </head>
    <body>
        <h1>Voici toutes vos pages rangées en fonction de vos thèmes</h1>

    <ol>
        <li><a href="pages/1.html">Thème A - Présentation générale</a></li>
        <li><a href="pages/2.html">Thème B - Référentiel d'activités et de compétences</a></li>
        <li><a href="pages/3.html">Thème C - Référentiel de formation</a></li>
        <li><a href="pages/4.html">Thème D - Dispositions particulières</a></li>
        <li><a href="pages/5.html">Thème E - Référentiel d'évaluation</a></li>
    </ol>
    <a href="../../../index.html"><button id="return">Menu Principal</button></a>
    </body>
</html>