<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thème A - Présentation générale</title>
    </head>
    <body>
        <img src="../../images/logo.png" style="float: left;">
        <p style="float: right;">PN LP-BUT INFO 2021</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">Document d'accompagnement</h1>
        <h1 style="text-align: center; font-weight: bold;">Licence professionnelle « Bachelor Universitaire de Technologie »</h1>
        <br>
        <h1 style="text-align: center;">INFORMATIQUE</h1>
        <br>
        <h2 style="padding-left: 100px;">Parcours Administration, gestion et exploitation des données</h2>
        <h2 style="padding-left: 100px;">Parcours Déploiement d’applications communicantes et sécurisées</h2>
        <h2 style="padding-left: 100px;">Parcours Intégration d’applications et management du système d’information</h2>
        <h2 style="padding-left: 100px;">Parcours Réalisation d’applications : conception, développement, validation</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">Programme national</h2>

        <div style="background-color: black; color: white; border-radius: 5px; width: 25px; text-align: center; font-size: 20px; float: left;">A</div><h2 style="color: rgb(23, 7, 255); padding-left: 30px;"> Présentation générale de la spécialité et des parcours</h2>
        <p>Ce document présente une proposition complète de programme national du B.U.T Informatique et complète les publications des annexes de l’arrêté relatif aux programmes nationaux de la licence professionnelle — bachelor universitaire de technologie.
            Les départements Informatique des IUT forment en trois ans les informaticiens qui participent à la conception, la réalisation
            et la mise en œuvre de solutions informatiques répondant aux besoins de transformation numérique des organisations. Le
            technicien supérieur en informatique exerce son activité au sein des entreprises de services du numérique (ESN), des édi-
            teurs de logiciels, des DSI des entreprises (banques, assurances, grande distribution, industrie, plateformes e-commerce...)
            et des administrations. Il met ses compétences spécialisées en informatique au service des entreprises (finance, comptabi-
            lité, ressources humaines, logistique, production, etc). À l’issue de la formation, l’informaticien diplômé exerce ses missions
            de manière autonome, ou peut, dans une structure importante, travailler sous la direction d’un chef de projet.
            La formation s’appuie sur l’acquisition de savoirs fondamentaux en développement informatique et web par l’apprentissage
            de langages de programmation les plus utilisés, en administration des systèmes et réseaux, en bases de données et en
            conduite de projets; l’accent est mis sur la communication écrite et orale, y compris en langue anglaise, et sur l’importance
            du travail en groupe pour intégrer une équipe projet.
            Les titulaires du B.U.T. Informatique compétents sur les plans technique et méthodologique, sont également sensibilisés
            aux problématiques actuelles (sécurité des données, cloud computing, intelligence artificielle...), aux questions sociétales,
            juridiques, éthiques et environnementales liées aux usages du numérique.
            À l’issue d’un tronc commun regroupant un socle de six compétences, quatre parcours sont proposés permettant ainsi à la
            personne inscrite en B.U.T. d’approfondir sa formation :</p>
        <h2 style="color: rgb(23, 7, 255)">Parcours A « Réalisation d’applications : conception, développement, validation »</h2>
        <p>Ce parcours se concentre sur le cycle de vie du logiciel : de l’expression du besoin du client, à la conception, à la program-
            mation, à la validation et à la maintenance de l’application. Il forme aux métiers de concepteur-développeur d’applications
            (mobile, web, Internet des objets, jeux vidéo...).<p>
        <h2 style="color: rgb(23, 7, 255)">Parcours B « Déploiement d’applications communicantes et sécurisées »</h2>
        <p>Les activités de ce parcours s’articulent autour de deux axes : l’installation, la configuration des systèmes d’exploitation,
            le déploiement et la sécurisation de réseaux d’une part, l’installation et la configuration de services applicatifs ainsi que le
            développement d’applications client-serveur répondant aux exigences d’une organisation d’autre part. Elles regroupent les
            métiers chargés de créer l’environnement de travail et de communication d’une entreprise, tels qu’administrateur système
            et réseaux, DevOps ou chargé de la sécurité.</p>
        <h2 style="color: rgb(23, 7, 255)">Parcours C « Administration, gestion et exploitation des données »</h2>
        <p>Ce parcours regroupe les connaissances permettant d’administrer des entrepôts de données et visualiser ces dernières pour
            développer des applications décisionnelles. Il conduit au métier d’administrateur de bases de données ou de gestionnaire
            de grandes masses de données.</p>
        <h2 style="color: rgb(23, 7, 255)">Parcours D « Intégration d’applications et management du système d’information »</h2>
        <p>Les activités associées à ce parcours sont liées au développement, à l’intégration d’applications et aux fonctions d’assistance
            au pilotage de projets de transformation numérique des organisations afin de former des intégrateurs fonctionnels et/ou
            techniques et des paramétreurs de progiciels intégrés (ERP).
        </p>

        <div id="archi" style="position:static;background-color: black; color: white; border-radius: 5px; width: 35px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">A.1</div><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Architecture du diplôme</h2>
        <p>Le bachelor universitaire de technologie est défini par une spécialité et un parcours. La spécialité Informatique de bachelor
            universitaire de technologie propose 4 parcours.
            Un parcours définit précisément un cursus de bachelor universitaire de technologie au sein d’une spécialité donnée. Il vise un
            champ d’activité, une famille de métiers identifiés et répond à des enjeux d’individualisation en lien avec le projet personnel
            et professionnel.
        </p>

        <div id="groupes" style="position:static;background-color: black; color: white; border-radius: 5px; width: 35px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">A.2</div><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Taille des groupes</h2>
        <p>Les groupes sont de 26 personnes en Travaux Dirigés (TD) et 13 en Travaux Pratiques (TP).
            Le référentiel de formation identifie les TP présentant un risque pour la sécurité des personnes et nécessitant un encadrement particulier.            
        </p>
        
        <div id="formations" style="position:static;background-color: black; color: white; border-radius: 5px; width: 35px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">A.3</div><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Taille des groupes</h2>
        <p>Chaque département de l’IUT met en place un conseil de perfectionnement conformément aux statuts de son établissement.
            Dans une logique d’amélioration continue, le conseil de perfectionnement examine une fois par an les indicateurs du bachelor
            universitaire de technologie de la spécialité, notamment les résultats des évaluations des formations et des enseignements
            par les personnes qui les ont suivis, les suivis de cohortes, la qualité des stages et le suivi de l’insertion professionnelle.
            Le Conseil de l’IUT est ensuite informé de l’ensemble des évaluations internes des départements.
        </p>

    </body>
</html>