
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thème D - Dispositions particulières</title>
    </head>
    <body>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 25px; text-align: center; font-size: 20px; float: left;margin-top: 2px;">D</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)"> Dispositions particulières</h2>
        <h2 id="alternance" style="position:static;background-color: black; color: white; border-radius: 5px; width: 45px; text-align: center; font-size: 20px; float: left;margin-top: 0px;">D.1</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">L’alternance</h2>
        <p>Le diplôme de B.U.T Informatique, quand il est préparé en alternance, s’appuie sur le même référentiel de compétences et
            le même référentiel de formation mais le volume horaire global de chaque semestre sera réduit de 15% en première année,
            de 20% en deuxième année et de 15% en troisième année.
        </p>

           
            
    </body>
</html>