<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tableau</title>
	<style>
	th {font-weight: bold;text-align:center}
	</style>
</head>
<body>
	<h3>Modèles et expérimentations</h3>
	<p>Lorem ipsum ...</p>

	<table border="2">
		<tr>
			<th colspan="4" >Les bases du modèle vectoriel</th>
		</tr>
		<tr>
			<td colspan="2" align="center">ÉLÉMENTS DISCRIMINANTS</td>
			<td colspan="2" align="center">CALCUL DU POIDS</td>
		</tr>
		<tr>
			<td>Fréquence des termes</td>
			<td>tf</td>
			<td>Terme</td>
			<td>t</td>
		</tr>
		<tr>
			<td>Fréquence documentaire</td>
			<td>df</td>
			<td>Document</td>
			<td>d</td>
		</tr>
		<tr>
			<td>Fréquence documentaire inverse</td>
			<td>idf</td>
			<td>Poids(t,D)</td>
			<td>tf(t,D)*idf(t)</td>
		</tr>
		<tr>
			<td colspan="4" align="center">The more the term is distributed evenly the less it is specific to a document</td>
		</tr>
		<tr>
			<td colspan="4" align="center"><strong>mots clés : D, t, tf, dt, idf, poids</strong></td>
		</tr>
	</table>




</body>
</html>