* {
  box-sizing: border-box;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.Nav {
  overflow: hidden;
  background-color: #333;
}
.Nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
