<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thème C - Référentiel de formation</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/3.css">
    </head>
    <body>
        
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 25px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)"> Référentiel de formation</h2>
        <h2 id="cadre" style="position:static;background-color: black; color: white; border-radius: 5px; width: 40px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)"> Cadre général</h2>
        <br>
        <p>Le bachelor universitaire de technologie est organisé en 6 semestres composés d’unités d’enseignement (UE) et chaque
            niveau de développement des compétences se déploie sur les deux semestres d’une même année.
            Les UE et les compétences sont mises en correspondance. Chaque UE se réfère à une compétence finale et à un niveau
            de cette compétence. Elle est nommée par le numéro du semestre et celui de la compétence finale.
            Chaque unité d’enseignement est composée de deux éléments constitutifs :
        </p>
        <p style="padding-left: 20px;">— un pôle « Ressources », qui permet l’acquisition des connaissances et méthodes fondamentales,
        </p>
        <p style="padding-left: 20px;">— un pôle « Situation d'apprentissage et d'évaluation » (SAÉ) qui englobe les mises en situation professionnelle au
            cours desquelles la compétence se développe et à partir desquelles il sera fait la démonstration de l’acquisition de
            cette compétence dans la démarche portfolio.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.1</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Les situations d’apprentissage et d’évaluation</h2>
        <p>Les SAÉ permettent l'évaluation en situation de la compétence. Cette évaluation est menée en correspondance avec l'ensemble des éléments structurants le référentiel, et s'appuie sur la démarche portfolio, à savoir une démarche de réflexion
            et de démonstration portée par la personne elle-même. Parce que cette démarche répond à une problématique que l'on
            retrouve en milieu professionnel, une SAÉ est une tâche authentique.
            En tant qu'ensemble d'actions, la SAÉ nécessite de la part de la personne qui la met en œuvre le choix, la mobilisation et
            la combinaison de ressources pertinentes et cohérentes avec les objectifs ciblés.
            L'enjeu d'une SAÉ est ainsi multiple 
        </p>
        <p style="padding-left: 20px;">— Participer au développement de la compétence ;</p>
        <p style="padding-left: 20px;">— Soutenir l'apprentissage et la maîtrise des ressources;</p> 
        <p style="padding-left: 20px;">— Intégrer l'autoévaluation ;</p>
        <p style="padding-left: 20px;">— Permettre une individualisation des apprentissages.</p> 
        <p>Au cours des différents semestres de formation, la confrontation à plusieurs SAÉ qui permettront de développer et de mettre
            en œuvre chaque niveau de compétence ciblé dans le respect des composantes essentielles du référentiel de compétences
            et en cohérence avec les apprentissages critiques.
            Les SAÉ peuvent mobiliser des heures issues des 2000 h de formation et des 600 h de projet. Les SAÉ prennent la forme
            de dispositifs pédagogiques variés, individuels ou collectifs, organisés dans un cadre universitaire ou extérieur, tels que
            des ateliers, des études, des challenges, des séminaires, des immersions au sein d'un environnement professionnel, des
            stages, etc.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.2</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Adaptation locale</h2>
        <p>L’adaptation locale s’entend comme la définition par chaque IUT du contenu et des modalités des enseignements. Elle ne
            peut pas modifier le référentiel de compétences et d’activités et définir, notamment, de nouveaux niveaux de compétences
            ni de nouvelles compétences finales.
            L’adaptation locale représente un tiers du volume global des heures d’enseignement, soit 667 heures d’enseignement pour
            une spécialité secondaire sur les 3 ans, ou 600 heures d’enseignement pour une spécialité tertiaire sur les 3 ans. Elle
            représente chaque année au maximum 40% du volume horaire d’enseignement de l’année hors projets tutorés.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.3</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Compétences transversales et enjeux sociétaux</h2>
        <p>L’acquisition des connaissances et compétences dans les secteurs professionnels et les métiers visés permet d’acquérir
            aussi des compétences transversales et ainsi de développer une pensée critique et d’appréhender les concepts et les enjeux de développement durable, de mondialisation, d’interculturalité et de transition écologique, de responsabilité sociétale,
            d’éthique, notamment des problématiques liées aux situations de handicap, à l’accessibilité et à la conception universelle.
            La formation intègre un volume d’enseignement d’expression-communication et d’au moins une langue étrangère qui participe au développement d’une culture communicationnelle et informationnelle ainsi qu’à la maîtrise des techniques médiatiques associées, et adaptées notamment à l’environnement professionnel de chaque spécialité.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.4</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Passerelles et paliers d’orientation</h2>
        <p>Une souplesse des dispositifs pédagogiques facilite l’intégration de publics post-bac diversifiés ayant des acquis différents
            à l’entrée en formation comme en cours de cursus. Elle permet également de lisser la marche de début de cursus pour
            limiter les échecs en première année.
            Dans chaque spécialité, les passerelles entrantes sont prévues sur les semestres 3 et 5. Les IUT affichent le nombre de
            places disponibles pour ces entrées latérales et réunissent sous la présidence du directeur, une commission d’admission
            chargée d’étudier les demandes et de préciser le contrat pédagogique de l’entrant.
            Dans ce processus d’intégration en cours de cursus, une attention particulière sera portée à l’accueil des titulaires du BTS
            et aux personnes engagées dans les formations menant au diplôme national de licence.
            Des paliers d’orientation sont prévus en fin de S1, S2 et de S4 permettant la mise en œuvre de passerelles vers d’autres
            formations, notamment licences, BTS ou écoles.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.5</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Le projet personnel et professionnel</h2>
        <p>Présent à chaque semestre de la formation et en lien avec les réflexions de l'équipe pédagogique, le projet personnel et
            professionnel est un élément structurant qui permet à la personne inscrite en B.U.T. d'agir sur sa formation, d'en comprendre
            et de s'en approprier les contenus, les objectifs et les compétences ciblées. Il assure également un accompagnement de
            la personne dans sa propre définition d'une stratégie personnelle et dans la construction de son identité professionnelle,
            en cohérence avec les métiers et les situations professionnelles couverts par la spécialité « Informatique » et les parcours
            associés. Enfin, le PPP la prépare à évoluer tout au long de sa vie professionnelle, en lui fournissant des méthodes d'analyse
            et d'adaptation aux évolutions de la société, des métiers et des compétences. Par sa dimension personnelle, le PPP vise
            à :
        </p>
        <p style="padding-left: 20px;">— Induire un questionnement sur son propre projet et son propre parcours de formation ;</p>
        <p style="padding-left: 20px;">— Lui donner les moyens d'intégrer les codes du monde professionnel et socio-économique;</p> 
        <p style="padding-left: 20px;">— L'aider à se définir et à se positionner;</p>
        <p style="padding-left: 20px;">— Le guider dans son évolution et son devenir ;</p> 
        <p style="padding-left: 20px;">— Développer sa capacité d'adaptation.</p> 
        <p>Au plan professionnel, le PPP permet :</p>
        <p style="padding-left: 20px;">— Une meilleure appréhension des objectifs de la formation, du référentiel de compétences et du référentiel de formation </p>
        <p style="padding-left: 20px;">— Une connaissance exhaustive des métiers et perspectives professionnelles spécifiques à la spécialité et ses parcours ;</p> 
        <p style="padding-left: 20px;">— L'usage contextualisé des méthodes et des outils en lien avec la démarche de recrutement, notamment dans le cadre d'une recherche de contrat d'alternance ou de stage ;</p>
        <p style="padding-left: 20px;">— La construction d'une identité professionnelle au travers des expériences de mise en situation professionnelle vécues pendant la formation.</p> 
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.6</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">La démarche portfolio</h2>
        <p>Nommé parfois portefeuille de compétences ou passeport professionnel, le portfolio est un point de connexion entre le
            monde universitaire et le monde socio-économique. En cela, il répond à l'ensemble des dimensions de la professionnalisation de la personne inscrite en B.U.T. : de sa formation à son devenir en tant que professionnel.
            Le portfolio soutient donc le développement des compétences et l'individualisation du parcours de formation. Plus spécifiquement, le portfolio offre la possibilité pour elle d'engager une démarche de démonstration, de progression, d'évaluation
            et de valorisation des compétences qu'il acquiert tout au long de son cursus.
            Quels qu'en soient la forme, l'outil ou le support, le portfolio a pour objectif de lui permettre d'adopter une posture réflexive et
            critique vis-à-vis des compétences acquises ou en voie d'acquisition. Au sein du portfolio, sa trajectoire de développement
            est documentée et argumentée en mobilisant et analysant des traces, et ainsi en apportant des preuves issues de l'ensemble
            de ses mises en situation professionnelle (SAÉ).
            La démarche portfolio est un processus continu d'autoévaluation qui nécessite un accompagnement par l'ensemble des
            membres de l'équipe pédagogique. Ceux-ci guident la compréhension des éléments du référentiel de compétences, ses
            modalités d'appropriation, les mises en situation correspondantes et les critères d'évaluation.
            Parce qu'ils participent tous deux à la professionnalisation et en cela sont en dialogue, le PPP et la démarche portfolio
            ne doivent pourtant pas être confondus. Le PPP répond davantage à un objectif d'accompagnement qui dépasse le seul
            cadre des compétences à acquérir, alors que la démarche portfolio répond fondamentalement à des enjeux d'évaluation
            des compétences.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.7</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Stages</h2>
        <p>Le stage contribue à la professionnalisation et à la validation des compétences du Bachelor Universitaire de Technologie.
            Les stages sont répartis selon le calendrier suivant : 8 à 12 semaines les 4 premiers semestres ; 12 à 16 semaines la dernière
            année.
            Les CPN décident de la durée et du positionnement des différentes périodes de stages en respectant la limite de 22 à 26
            semaines de l’arrêté. Des dérogations pourront éventuellement être envisagées pour les professions réglementées.
            L’encadrement des stages est assuré par les membres de l’équipe pédagogique en coordination avec l’organisme d’accueil.
            Cet encadrement recouvre en particulier la validation des missions, le suivi régulier du stagiaire et son évaluation.
            L’encadrement du stage fait l’objet d’une reconnaissance par l’établissement notamment au travers du référentiel national
            d’équivalences horaires
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.8</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Projets tutorés</h2>
        <p>D’un volume total de 600 heures, les projets tutorés sont des axes structurants de la professionnalisation en tant qu’ils
            participent de l’acquisition des compétences du référentiel du Bachelor Universitaire de Technologie et du parcours associé.
            En cohérence avec l’approche par compétences, les projets tutorés sont des éléments essentiels et fondamentaux du pôle
            « Situation d’Apprentissage et d’Évaluation » (SAÉ) des UE de chaque semestre.
            Prenant la forme d’activités encadrées par les membres de l’équipe pédagogique dont une partie issue du monde socioéconomique, les 600h de projets tutorés supposent donc une pédagogie innovante et adaptée qui s’appuie sur un volume
            d’heures de formation à hauteur minimale de <b>75 HETD par an et par groupe de TD</b>, en complément de celui des 1800 ou
            des 2000 heures d’enseignement selon la spécialité.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 55px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.9</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Alternance</h2>
        <p>L’alternance peut être réalisée sur l’ensemble de la formation. Elle favorise l’insertion professionnelle.
            Afin de tenir compte de l’acquisition de compétences en entreprise, les maquettes de formation de chaque année en alternance, incluant les projets tutorés, sont réduites de 15 à 25horaire global de l’année. Cette diminution peut être appliquée
            sur les enseignements encadrés comme sur les projets. Elle doit être répartie sur l’ensemble des semestres du cursus. Le
            référentiel de formation définit pour chacune des spécialités la valeur du pourcentage de réduction du volume horaire annuel
            dans la fourchette proposée.
            Le suivi des alternants est une modalité pédagogique qui est définie par le conseil de perfectionnement en accord avec les
            employeurs et prise en compte pour les enseignants dans le cadre du référentiel des équivalences horaires voté et appliqué
            par chaque établissement.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 60px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.10</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Enseignement à Distanc</h2>
        <p>Pour chaque spécialité des dispositifs d’ouverture à l’international et/ou de sensibilisation à l’interculturalité sont mis en œuvre.</p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 60px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.1.11</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Enseignement à Distance</h2>
        <p>L’enseignement à distance peut être mis en œuvre, soit pour modifier les modalités de travail en présentiel, soit pour
            remplacer l’enseignement en présentiel. Dans tous les cas, l’enseignement à distance ne doit pas alourdir les horaires
            d’enseignement reçus au-delà des 33h/semaine.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 35px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.2</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Tableaux horaires</h2>
        <p>Le volume horaire global (enseignement et projets tutorés, soit 2600) est distribué de manière homogène sur les trois
            années, sans excéder chaque année une moyenne maximum de 33 heures par semaine. Les 600 heures de projets tutorés
            sont réparties sur les trois années, avec chaque année un minimum de 150 heures et un maximum de 250 heures; ces
            heures sont clairement identifiées dans les maquettes de formation et dans les emplois du temps afin de valoriser cette
            modalité pédagogique et d’en assurer le déploiement.
            La répartition horaire consacre au moins 50% des heures d'étude (2000 h + 600 h projets) aux enseignements pratiques et
            aux mises en situation professionnelle.
        </p>
        <h2 style="position:static;background-color: black; color: white; border-radius: 5px; width: 35px; text-align: center; font-size: 20px; float: left;margin-top: 5px;">C.2.1</h2><h2 style="padding-left: 20px;;color: rgb(23, 7, 255)">Horaires S1 — Tous parcours</h2>
        <a href="../../../index.html"><button id="return">Menu Principal</button></a>
    </body>
</html>